@use "../../styles/breakpoints" as *;


#projects {
    scroll-margin-top: 8rem;
    position: relative;
    @include respond-down("tablet") {
    scroll-margin-top: 26rem;
    }

    .projects {
        width: 100%;
        display: flex;
        justify-content: center;
        
        .projects-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent;
            gap: 3rem;
        }
    }
}