@use "../../styles/breakpoints" as *;


#projects {
    --font-size-titulo: clamp(1.45rem, 3.3vw, 1.8rem);
    --font-size-subtitulo: clamp(1.22rem, 2.2vw, 1.35rem);
    --font-size-parrafo: clamp(1.05rem, 1.1vw, 1.1rem);

    scroll-margin-top: 8rem;
    position: relative;
    @include respond-down("tablet") {
    scroll-margin-top: 26rem;
    }

    .projects {
        width: 100%;
        display: flex;
        justify-content: center;
        
        .projects-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent;
            gap: 3rem;
        }
    }
}