html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem 10rem;
  min-height: 100dvh;
  background: #282F37;
  background: linear-gradient(342deg, rgba(40, 47, 55, 1) 0%, rgba(98, 140, 143, 1) 60%, rgba(146, 218, 217, 1) 100%);
  font-family: "Roboto Condensed", sans-serif;
  
}